.vscode/**
.vscode-test/**
src/**
.github/**
esbuild.js
.vscode-test.mjs
.vscodeignore
CHANGELOG.md
classtocss1.png
classtocss2.png
eslint.config.mjs
**/tsconfig.json
**/*.map
**/*.ts
out/test/**
.gitignore
**/tslint.json
node_modules