.vscode-test/**
.github/**
esbuild.js
.vscode-test.mjs
.vscodeignore
CHANGELOG.md
classtocss1.png
classtocss2.png
eslint.config.mjs
**/*.map
**/*.ts
.gitignore
**/tslint.json
.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js